body{
margin:0;
font-family:Arial;
background:#020617;
color:white;
text-align:center;
}

/* Background glow bubbles */

.background{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at 20% 20%, rgba(59,130,246,0.2), transparent),
radial-gradient(circle at 80% 80%, rgba(59,130,246,0.15), transparent);
z-index:-1;
}

/* HERO SECTION */

.hero{
margin-top:80px;
}

.profile{
width:160px;
border-radius:50%;
border:4px solid #3b82f6;
}

.subtitle{
color:#93c5fd;
font-size:18px;
}

.social i{
font-size:32px;
padding:15px;
border-radius:50%;
background:#0f172a;
margin:10px;
color:#3b82f6;
transition:0.3s;
}

.social i:hover{
transform:scale(1.2);
background:#1e293b;
}

/* ABOUT */

.about{
margin:80px auto;
max-width:700px;
line-height:1.6;
}

/* EXPLORE CARDS */

.cards{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:#0f172a;
padding:40px;
width:260px;
border-radius:16px;
text-decoration:none;
color:white;
transition:0.3s;
box-shadow:0 0 10px rgba(0,0,0,0.6);
}

.card:hover{
transform:translateY(-10px) scale(1.03);
background:#1e293b;
}

.icon{
font-size:40px;
color:#3b82f6;
margin-bottom:10px;
}

/* CERTIFICATE GRID */

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:40px;
}

.box{
background:#0f172a;
padding:20px;
border-radius:14px;
width:300px;
box-shadow:0 0 12px rgba(0,0,0,0.6);
transition:0.3s;
}

.box:hover{
transform:translateY(-5px);
}

.box h3{
font-size:16px;
min-height:50px;
}

.box img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
margin-top:10px;
cursor:pointer;
transition:0.3s;
}

.box img:hover{
transform:scale(1.05);
}

/* PAGE TITLE */

.page-title{
margin-top:40px;
font-size:32px;
}

/* MORE COMING TEXT */

.coming{
margin:40px;
color:#93c5fd;
font-size:18px;
}

/* CERTIFICATE POPUP */

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
justify-content:center;
align-items:center;
z-index:1000;
}

.popup img{
max-width:90%;
max-height:90%;
border:6px solid white;
border-radius:10px;
}

.close{
position:absolute;
top:30px;
right:50px;
font-size:40px;
color:white;
cursor:pointer;
transition:0.3s;
}

.close:hover{
color:#60a5fa;
}


/* RESUME POPUP CONTAINER */

.resume-container{
background:#020617;
padding:25px;
border-radius:12px;
max-width:90%;
box-shadow:0 0 20px rgba(0,0,0,0.8);
text-align:center;
}

/* RESUME PDF PREVIEW */

.resume-container embed{
width:900px;
height:550px;
border:none;
border-radius:8px;
margin-bottom:15px;
}

/* DOWNLOAD BUTTON */

.download-btn{
display:inline-block;
background:#3b82f6;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.download-btn:hover{
background:#60a5fa;
transform:scale(1.05);
}